{require_otp_vsn, "R14"}.
{port_sources, ["c_src/*.c", "c_src/*.cpp"]}.
{so_name, "esnappy_nif.so"}.
{erl_opts, [debug_info]}.

{port_envs, [
            {"CFLAGS", "$CFLAGS -Wall -O3"},
            {"CXXFLAGS", "$CXXFLAGS -Ic_src/snappy/ -Wall -O3"},
	    {"LDFLAGS", "$LDFLAGS -lstdc++"},
	    {"LDFLAGS", "$LDFLAGS c_src/snappy/snappy.o c_src/snappy/snappy-sinksource.o"}
            ]}.
{pre_hooks, [
		{compile, "c_src/build-snappy.sh"},
		{clean, "make -C c_src/snappy distclean"}
	    ]
}.
