{require_otp_vsn, "R14"}.
{port_sources, ["c_src/*.c", "c_src/*.cpp"]}.
{so_name, "esnappy_nif.so"}.
{erl_opts, [debug_info]}.

{port_envs, [
            {"CFLAGS", "$CFLAGS -Wall -O3"},
            {"CXXFLAGS", "$CXXFLAGS -I$ESNAPPY_INCLUDE_DIR -Wall -O3"},
	    {"LDFLAGS", "$LDFLAGS -lstdc++ -L$ESNAPPY_LIB_DIR  -lsnappy"}
            ]}.
